<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.mapper.ReservationMapper">

    <select id="getMovie" resultType="com.my.dto.MovieDTO">
        select * from movie
    </select>

    <insert id="registerMovie" parameterType="com.my.dto.RegisterDTO">
        insert into reservation (id, title, city, theater, date, time, seat , price)
        values (#{id}, #{title}, #{city}, #{theater}, #{date}, #{time}, #{seat}, #{price})
    </insert>

    <select id="getReservation" resultType="com.my.dto.RegisterDTO">
        select title, rno, city, theater, date, time, seat, price from reservation
        where id = #{id}
    </select>

    <delete id="cancelReservation">
        delete from reservation
        where rno = #{rno}
    </delete>
</mapper>
